<div style="height: 35px; background: #d0d0d0; width: 100%">
		<div class="container" style="height: 100%; vertical-align: text-bottom">
			<a class="span2 linkasbutton" href="#">Daftar!</a>
			<div class="btn-group linkasbutton">
  				<button href="#" class="linkasbutton" data-toggle="dropdown">
   				<span class="caret"></span>
 				</button>
 				<ul class="dropdown-menu" style="border-radius: 0 0 0 0; padding: 0 0 0 0">
  				  <li><a href="#">Test</a></li>
  				  <li><a href="#">Test</a></li>
  				  <li><a href="#">Test</a></li>
 				</ul>
			</div>
		</div>
	</div>




	#DROPDOWN